body{
    padding-top:10px;
}
.all_bg{
    width:800px;
    height:600px;
    margin:0px auto;
}
#allCanvas{
    position:relative;
    width:800px;
    height:600px;
    margin:0px;
}
#canvas1{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#canvas2{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}
#play_again{
    display:none;
    z-index: 5;
    position:absolute;
    top:35%;
    left:50%;
    margin-left:-100px;
    width:200px;
    height:40px;
    background-image:url("../imgs/play_again.png");
    opacity:0.5;
}
#play_again.show{
    display:block;
}
#play_again.show:hover{
    opacity:1;
}